@font-face {
    font-family: "OratorStd";
    src: url("../webfonts/OratorStd.otf");
}
@font-face {
    font-family: "capoonPersonalUseLight";
    src: url("../webfonts/CapoonPersonalUseLight-2RYv.ttf");
}
@font-face {
    font-family: "MyriadPro";
    src: url("../webfonts/myriadPro/MyriadPro-Bold.OTF");
    font-weight: bold;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../webfonts/myriadPro/MyriadPro-Semibold.OTF");
    font-weight: normal;
}
@font-face {
    font-family: "MyriadPro";
    src: url("../webfonts/MyriadPro/MyriadPro-Light.otf");
    font-weight: lighter;
}
@font-face {
    font-family: "Hornbill-Personal";
    src: url("../webfonts/Hornbill-Personal Use Bold.otf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Hornbill-Personal";
    src: url("../webfonts/Hornbill-Personal Use Italic.otf");
    font-weight: normal;
    font-style: italic;
}
:root{
    --color-red: rgb(167 , 48 , 48);
    --color-dark-red: #a73030;
    --color-light-white: #fffbeb;
    --color-dark-white: #aaa59d;
    --color-transparent-white: rgba(255, 251, 235, 0.5);
    --color-dark-gray: #363636;
    --color-purple: #8a3845;
    /* --color-dark-gray: rgb(54, 54, 54); */
    --slide-height: 183px;
    --slide-width: 183px;
    --slider-height: calc((3 * var(--slide-height)) + 2 * 13px + 2 * 26px);
    --slider-width: 235px;
    --slide-gap: 13px;
}
/* Resetting */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
a, a:link, a:active{
    text-decoration: none;
    color: inherit;
}
*,*::after, *::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-image: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    min-height: 600rem;
    line-height: 1.7;
    background-color: #000;
}
.heading-secondary{
    font-size: 53px;
    color: var(--color-transparent-white);
    font-family: "MyriadPro";
    text-transform: uppercase;
    font-weight: bold;
}
.heading-tertiary{
    font-family: "MyriadPro";
    font-size: 124px;
    color: var(--color-transparent-white);
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
}
.red-badge{
    color: var(--color-light-white);
    background-color: var(--color-dark-red);
    font-size: 18.4px;
    font-family: "Hornbill-Personal";
    padding: 0 10px;
    margin-bottom: 15px;
    display: inline-block;

}
.marker {
    position: relative;
    line-height: 0.7;
    padding: 2px 0;
    margin-right: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.marker::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--color-dark-red);
    z-index: -1;
}
.paragraph{
    max-width: 400px;
    font-size: 16px;
    color: var(--color-light-white);
    font-family: "Hornbill-Personal";
    font-style: italic;
    font-weight: 400;
}
.paragraph:not(:last-child){
    margin-bottom: 5px;
}
.fixed-pos{
    position: absolute;
    transform-origin: top left;
}
/* Start header styling */
header.header{
    color: #Fff;
    padding: 2.7rem 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.header__company-logo{
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-family: "OratorStd";

}
/* nav.header__nav{
    gitz-index: 99;
} */
nav.header__nav ul{
    list-style: none;
    font-size: 1.6rem;
    font-family: 'capoonPersonalUseLight';
}
nav.header__nav ul li{
    display: inline-block;
}
nav.header__nav ul li:not(:last-child){
    margin-right: 6rem;
}
nav.header__nav ul li a{
    font-weight: 300;
    padding: 1rem 2rem;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all .4s;
    display: inline-block;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 90%);
}
nav.header__nav ul li a:hover,
nav.header__nav ul li a:active {
    background-position: 100%;
    color: var(--color-red);
    /* transform: translateY(-1rem); */
    transform: scale(1.1);
    text-shadow: none;
}
.header__checkbox {
    display: none;
}
.header__button {
    display: none;
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 2.7rem;
    right: 1.5rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
    text-align: center;
    cursor: pointer;
}
.header__button:hover .header__icon::before {
    top: -1rem;
}

.header__button:hover .header__icon::after {
    top: 1rem;
}
.header__icon{
    display: none;
    position: relative;
    margin-top: 3.5rem;
}
.header__icon,
.header__icon::after,
.header__icon::before{
    width: 3rem;
    height: 2px;
    background-color: var(--color-red);
    display: inline-block;
}
.header__icon::after,
.header__icon::before{
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}
.header__icon::after{
    top: 0.8rem;
}
.header__icon::before{
    top: -0.8rem;
}
.header__background{
    display: none;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(rgb(167 , 48 , 48), rgb(233, 69, 69));
    background-image: radial-gradient(rgb(233, 69 , 69) 10%, rgb(167 , 48 , 48) 20%);
    /* background-image: linear-gradient(55deg, rgb(100 37 37) 36%, rgb(240 84 84) 49%); */
    /* background-image: linear-gradient(55deg, rgb(100 37 37) 15%, rgb(240 84 84)); */
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}
/* Big Desktop Media =>  *< 1800px */
@media only screen and (min-width: 112.5em) {
    html{
         font-size: 75%; /* 12px */
    }
}
/* Tablet (landscape) Media => 0 : 1200px */
@media only screen and (max-width: 75em) {
    html{
         font-size: 56.25%; /* 9px */
    }
    nav.header__nav ul li:not(:last-child){
        margin-right: 2rem;
    }
}
/* Tablet Media => 0 : 900px */
@media only screen and (max-width: 56.25em) {
    html{
         font-size: 50%; /* 8px */
    }
    .header__button{
        display: block;
    }

    nav.header__nav{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        visibility: hidden;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .header__background{
        top: 3rem;
        right: 2rem;
    }
    .header__background{
        display: block;
    }
    nav.header__nav ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 100%;
    }
    nav.header__nav ul li{
        margin: 1rem !important;
        display: list-item;
    }
    nav.header__nav ul li a:link,
    nav.header__nav ul li a:visited {
        display: inline-block;
        font-size: 3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        text-decoration: none;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size: 250%;
        transition: all .4s;
    }
    nav.header__nav ul li a:hover,
    nav.header__nav ul li a:active {
        transform: translateX(-1rem);
    }
    /*FUNCTIONALITY*/
    .header__checkbox:checked ~ .header__background {
        transform: scale(80) !important;
    }

    .header__checkbox:checked ~ .header__nav {
        opacity: 1 !important;
        width: 100% !important;
        visibility: visible;
    }
    .header__checkbox:checked + .header__button .header__icon {
        background-color: transparent;
    }

    .header__checkbox:checked + .header__button .header__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    .header__checkbox:checked + .header__button .header__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
/*Mobile Media =>0 : 600px*/
@media only screen and (max-width: 37.5em) {
    body{
        /* Optimization */
        background-image: url(../imgs/background-mobile.png);
    }
    .header__background{
        top: 3rem;
        right: 2rem;
    }
    .fixed-pos{
        position: static;
        margin-bottom: 5rem;
    }
}
/* End Header Styling */
/* Start About Styling */
section.about{
    /* margin-top: 72rem; */
}
section.about .heading-secondary {
    font-family: "MyriadPro";
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1.25;
}
.wer-sind {
    /* top: 825px;
    left: 1095px; */
}
/* .wer-sind .heading-secondary .marker{
    padding: 0;
} */
.wer-sind__content{
    display: flex;
    justify-content: space-between;
}
.wer-sind__img{
    margin-right: 20px;
}
.wer-sind__img img{
    max-width: 75%;
    display: block;
    margin-left: auto;
}
.wer-sind__text span{
    color: var(--color-purple);
    font-size: 16px;
    font-family: "MyriadPro";
    font-weight: bold;
    text-transform: uppercase;
}
.was-bieten{
    /* top: 905px; */
    /* left: 5px; */
}
.was-bieten .heading-secondary{
    margin-left: 12px;
}
.was-bieten ul li .marker{
    padding: 2px 4px 2px 0;
    margin-right: 5px;
}
.was-bieten ul{
    margin-left: 126px;
    list-style: none;
}
.was-bieten ul li{
    position: relative;
}
.was-bieten ul li::before{
    content: '';
    position: absolute;
    left: -12px;
    top: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-red);
}
.our-vision p{
    margin-left: 61px;
    max-width: 259px;
    font-family: "Hornbill-Personal";
}
.we-design{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'MyriadPro';
    font-weight: normal;
    line-height: 1.5;
    opacity: 0.5;
}
.we-design__logo{
    max-width: 20px;
}
.we-design__logo img{
    max-width: 100%;
}
.we-design__text{
    color: var(--color-transparent-white);
}
.we-design__text p:first-child{
    font-size: 10px;
    margin-bottom: 3px;
    position: relative;
}
.we-design__text p:first-child::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 91%;
    height: 0.5px;
    /* border: 1px solid var(--color-light-white) */
    background-color: var(--color-transparent-white);
}
.we-design__text p:last-child{
    font-size: 8px;
    margin-top: 3px;
}
.we-design__text span.red-text{
    color: var(--color-dark-red);
    letter-spacing: 1px;
}
.each_place_is_unique{
    font-size: 105px;
    color: var(--color-transparent-white);
    font-family: "MyriadPro";
    font-weight: bold;
    line-height: 1;
    left: 34px;
    top: 1525px;
}
.shop.fixed-pos{
    transform-origin: top right;
}
.shop .red-badge{
    max-width: 235px;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
    line-height: 1.2;
    padding: 3px 10px;
    font-size: 19.5px;
}
.shop .paragraph{
    max-width: 278.18px;
    padding: 17px 17px 17px 13px;
    background-color: rgba(54, 54, 54, .75);
    color: var(--color-light-white);
    font-size: 14.2px;
    margin-bottom: 0;
}
.shop__slider{
    background-color: rgba(167 , 48 , 48, 0.5);
    padding: 0 26px;
    text-align: center;
    max-width: 235px;
    /* max-height: var(--slider-height); */
}
.shop__slider-arrow{
    fill: var(--color-light-white);
    /* margin: 10px auto; */
    cursor: pointer;
    transition: fill 0.2s ease-in-out, 
                filter 0.2s ease-in-out,
                transform 0.2s ease-out;
    transform-origin: center center;
}
.shop__slider-arrow:hover{
    fill: var(--color-red);
    filter: drop-shadow( 0px 0px 2px rgba(255, 201, 201, 0.85));
}
.shop__slider-arrow--up{
    transform: rotate(-90deg);
}
.shop__slider-arrow--up:hover{
    transform: rotate(-90deg) scale(1.2);
}
.shop__slider-arrow--up:active{
    transform: rotate(-90deg) scale(0.8);
}
.shop__slider-arrow--down{
    transform: rotate(90deg);
}
.shop__slider-arrow--down:hover{
    transform: rotate(90deg) scale(1.2);
}
.shop__slider-arrow--down:active{
    transform: rotate(90deg) scale(0.8);
}
.shop__slider-wrapper{
    max-height: calc((var(--slide-height) * 3) + (2 * var(--slide-gap)));
    /*--slider-height
    --slider-width*/
    overflow-y: hidden;
    position: relative;
}
.shop__slider-slide{
    position: relative;
    top: calc(-1 * var(--slide-height) - var(--slide-gap));
}
.shop__slider-slide.shifting{
    transition: top 0.2s ease-in-out;
}
.shop__slider-img{
    max-width: var(--slide-width);
    max-height: var(--slide-width);
    display: block;
    margin-bottom: var(--slide-gap);
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.shop__slider-img img{
    max-width: 100%;
}
.shop__slider-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(5px at 50% 50%);
    background-color: rgba(167 , 48 , 48, 0.75);
    transition: 0.5s clip-path ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop__slider-overlay svg{
    fill: var(--color-light-white);
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0.1s, transform 0.4s ease-in-out 0.2s;
    transform: translateY(-100%);
    z-index: 999;
}
.shop__slider-img:hover .shop__slider-overlay{
    visibility: visible;
    opacity: 1;
    clip-path: circle(calc(var(--slide-width)) at 50% 50%);
}
.shop__slider-overlay::after{
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    border-top: 1px solid var(--color-light-white);
    border-left: 1px solid var(--color-light-white);
    width: 50%;
    height: 50%;
    transition: transform 0.6s ease-in-out;
    transform: translate(-100%, -100%);
}
.shop__slider-overlay::before{
    content: '';
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-right: 1px solid var(--color-light-white);
    border-bottom: 1px solid var(--color-light-white);
    width: 50%;
    height: 50%;
    transition: transform 0.6s ease-in-out;
    transform: translate(100%, 100%);
}
.shop__slider-img:hover .shop__slider-overlay svg{
    opacity: 1;
    transform: translateY(0);
}
.shop__slider-overlay svg:hover{
    animation: heartbeat 1s ease-in-out infinite 0.5s;
}
.shop__slider-img .shop__slider-overlay svg:active{
    animation-play-state: paused;
}
.shop__slider-img:hover .shop__slider-overlay::after,
.shop__slider-img:hover .shop__slider-overlay::before{
    transform: translate(0);
}
.shop__gallery{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(8px);
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
}
.shop__gallery--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.shop__gallery img{
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    max-height: 95%;
}
.shop__gallery--active img{
    opacity: 1;
    transform: scale(1);
    border-radius: 5px;
}
.shop__gallery-times-icon{
    position: fixed;
    top: 2.5%;
    right: 10rem;
    color: var(--color-light-white);
    font-size: 60px;
    cursor: pointer;
    line-height: 0.5;
    transition: color 0.2s ease-in-out;
}
.shop__gallery-times-icon:hover{
    color: var(--color-dark-red);
}
@keyframes heartbeat {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
/* Gallery */

/* Big Desktop Media =>  *< 1800px */
@media only screen and (min-width: 112.5em) {}
/* Tablet (landscape) Media => 0 : 1200px */
@media only screen and (max-width: 75em) {}
/* Tablet Media => 0 : 900px */
@media only screen and (max-width: 56.25em) {}
/*Mobile Media =>0 : 600px*/
@media only screen and (max-width: 37.5em) {
    .wer-sind{
        margin-bottom: 5rem;
    }
    section.about{
        margin-top: 104rem;
        /* padding: 0 1.5rem; */
    }
    section.about .heading-secondary {
        font-size: 5.2rem;
        white-space: normal;
    }
    .wer-sind__img {
        margin-right: 0;
        margin-left: auto;
    }
    .wer-sind__img img{
        margin-left: auto;
        margin-right: auto;
    }
    .we-design{
        display: none;
    }
}
/* Services */
.services{

}
.services__words-table{
    font-family: 'capoonPersonalUseLight';
    font-size: 12px;
    max-width: 304px;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 265, 0.5);
    left: 44px;
    top: 1949px;
}
.services__words-table__row {
    display: flex;
    justify-content: space-between;
}
.services__words-table__row--separator{
    border-bottom: 1px solid rgba(255, 255, 265, 0.5);
}
.services__words-table__row span {
    padding: 0 5px;
}
.v-line{
    border-right: 1px solid rgba(255, 255, 265, 0.5);
}
.services__heading{
    font-size: 67px;
    line-height: 0.7;
    position: relative;
    display: inline-block;
}
.services__heading::after{
    content: '';
    position: absolute;
    left: 50%;
    top: calc(100% + 22px);
    transform: translateX(-50%);
    border-top: 22px solid var(--color-transparent-white);
    border-right: 22px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 22px solid transparent;
}
/* .services__words-table__row span:nth-of-type(2) {
    margin-left: auto;
} */
.services__gips-deko__text p{
    font-family: 'Hornbill-Personal';
    font-style: italic;
    font-size: 16px;
}
.services__gips-deko{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: absolute;
    top: 2190px;
    width: 1436px;
    left: 39px;
    border-left: 1px solid var(--color-transparent-white);
    border-right: 1px solid var(--color-transparent-white);
}
.services__gips-deko::before,
.services__gips-deko::after{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;
    border-top: 1px solid var(--color-transparent-white);
    border-bottom: 1px solid var(--color-transparent-white);
}
.services__gips-deko::before{
    left: 0;
}
.services__gips-deko::after{
    right: 0;
}
.services__gips-deko__visual, .services__gips-deko__text{
    flex: 1;
}
.services__gips-deko__visual .heading-tertiary{
    position: relative;
}
.services__gips-deko__visual .heading-tertiary::after{
    content: '';
    position: absolute;
    right: 95px;
    top: 0;
    height: 165px;
    width: 2.5px;
    background-color: var(--color-transparent-white);
}
.services__gips-deko__sub-heading{
    font-size: 21px;
    font-family: 'capoonPersonalUseLight';
    color: var(--color-light-white);
    font-weight: normal;
    opacity: 0.6;
}
.services__gips-deko__sub-heading--yellow{
    color: #ff8400;
    font-weight: bold;
}
.services__gips-deko__visual img{
    max-width: 421px;
    margin-top: 98px;
    display: block;
    border-radius: 5px;
}
.services__gips-deko__separator-line{
    height: 125px;
    width: 2px;
    background-color: var(--color-transparent-white);
    margin: 0 30px;
    /* display: block; */
}
.services__gips-deko__text{
    position: relative;
}
.services__gips-deko__text ul{
    list-style: none;
    color: #ba8b32;
    font-size: 26px;
    font-family: 'MyriadPro';
    font-weight: bold;
}
.services__gips-deko__text ul li{
    display: inline-block;
}
.services__gips-deko__text ul li a{
    text-decoration: none;
    color: inherit;
    background-color: #000;
    padding: 0 5px;
}
.services__gips-deko__text ul li a.active{
    color: var(--color-light-white);
    background-color: #a73030;
}
.services__gips-deko__text p{
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75 );
    color: var(--color-light-white);
    font-family: 'Hornbill-Personal';
    margin-top: 35px;
}
/* Big Desktop Media =>  *< 1800px */
@media only screen and (min-width: 112.5em) {}
/* Tablet (landscape) Media => 0 : 1200px */
@media only screen and (max-width: 75em) {}
/* Tablet Media => 0 : 900px */
@media only screen and (max-width: 56.25em) {}
/*Mobile Media =>0 : 600px*/
@media only screen and (max-width: 37.5em) {}